mat-list-item {
  width: 100% !important;
  height: fit-content !important;
}
p {
  white-space: break-spaces !important;
  overflow: hidden;
}
mat-icon {
  transform: matrix(0.4, 0, 0, 0.4, 0, 0);
}
