.main-container {
  width: auto;
  height: 100%;
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-secondary);
}
mat-drawer,
mat-drawer-content {
  padding: 3vw;
}
mat-drawer {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-primary-container);
}
